body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1f2937;
}

.container {
  width: 950px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  size: 7in 9.25in;
}

header,
footer,
div {
  display: grid;
}

/* Header */

.header {
  width: 100%;
  align-self: center;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 160px 40px;
  grid-template-areas:
    "header__logo header__address header__number"
    "header__company header__address header__number";
    border-bottom: 1px solid black;
}

.header__logo {
  grid-area: header__logo;
}

.header__logo img {
  height: 150px;
  margin-left: 20px;
}

.header__address {
  grid-area: header__address;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.header__company {
  grid-area: header__company;
  font-weight: 600;
  font-size: 23px;
}

.header-number {
  grid-area: header__number;
  font-weight: 600;
  font-size: 23px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.header-number div {
  margin-bottom: 20px;
}

/* Title */

.section__title {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  margin-top: 20px;
}

/* Data Columns */

.section__data-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

/* .section__data-columns .column-left {

} */

.section__data-columns ul {
  list-style: none;
  padding-left: 0;
}

.section__data-columns ul li {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.section__data-columns ul li div {
  margin-right: 20px;
}

/* Supplier Section */

/* .section__supplier {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 50px 50px 50px;
  margin-bottom: 20px;
}

.section__supplier div {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.supplier-name--title,
.supplier-address--title,
.supplier-code--title,
.supplier-date--title,
.supplier-order--title {
  width: 140px;
}

.supplier-name--text,
.supplier-address--text,
.supplier-code--text,
.supplier-date--text,
.supplier-order--text {
  width: 300px;
  border-bottom: 1px solid black;
} */

/* PO Entry Lines */

.section__item-entry-lines {
  border-bottom: 1px solid black;
}

.section__item-entry-lines th {
  text-decoration: underline;
}

.section__item-entry-lines table {
  border-collapse: collapse;
}

.section__item-entry-lines table td {
  height: 25px;
  text-align: center;
}

/* Summary */

.section__summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deposit-summary--table th,
.vat-summary--table th,
.totals--table th  {
  text-decoration: underline;
}

/* Totals */

.section__totals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section__totals ul {
  list-style: none;
  padding-left: 0;
}

.section__totals ul li {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.section__totals ul li div {
  margin-right: 20px;
}

/* Remarks */

.section__remarks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .signatures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .signature {
  padding-top: 100px;
}

footer .signature-text {
  text-align: center;
  width: 300px;
  border-top: 1px solid black;
  padding-top: 30px;
}
