body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1f2937;
}

.container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header,
footer,
div {
  display: grid;
}

/* Header */

header {
  width: 200px;
  align-self: center;
  display: grid;
  grid-template-columns: 100px 200px;
  grid-template-rows: 160px 40px;
  grid-template-areas:
    "header__logo header__address"
    "header__company header__address";
}

.header__logo {
  grid-area: header__logo;
}

.header__address {
  grid-area: header__address;
}

.header__company {
  grid-area: header__company;
}

/* Title */

.section__title {
  text-align: center;
}

/* Company List */

.section__company-list ul {
  list-style: none;
}

.section__company-list ul li {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.tickbox {
  height: 10px;
  width: 10px;
  border: 2px solid black;
}

/* Supplier Section */

.section__supplier {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 50px 50px 50px;
  grid-template-areas:
    "supplier-name supplier-code"
    "supplier-address supplier-date"
    "supplier-address supplier-order";
}

.section__supplier div {
  display: flex;
  flex-direction: row;
}

.supplier-name {
  grid-area: supplier-name;
}

.supplier-code {
  grid-area: supplier-code;
}

.supplier-address {
  grid-area: supplier-address;
}

.supplier-date {
  grid-area: supplier-date;
}

.supplier-order {
  grid-area: supplier-order;
}
