/* Commons */

/* @font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  font-display: swap;
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
} */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

input,
select {
  border-radius: 5px;
  /* min-width: 550px; */
  min-height: 40px;
  font-size: 100%;
  height: auto;
  padding: 5px;
  margin-bottom: 10px;
}

.standard-button {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  border: 3px solid #3882f6;
  font-size: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Modal */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* left: 0;
  top: 0; */
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content {
  color: #1f2937;
}

.modal-content > ul {
  list-style-type: none;
}

.modal-content > ul > li {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.modal-content--left-column {
  min-width: 230px;
  font-weight: 600;
}

.modal-order-lines-list--element {
  min-width:300px;
  width: 150%;
  display: flex;
  justify-content: space-around;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* API Modal */

.api-modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* left: 0;
  top: 0; */
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Loading Modal */

.loading-modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* left: 0;
  top: 0; */
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Header */

.header {
  padding-top: 20px;
}

.header__logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

/* Form */

.po-number-for-edit {
  display: none;
  margin-bottom: 10px;
}

.po-number-for-edit--content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 10px solid #ee12a5;
}

.po-number-for-edit--content > p {
  font-size: 50px;
}

.po-number-for-edit--number {
  color: #d1f310;
}

.po-number-for-edit--cancel {
  color: #ff0b0b;
}

.po-number-for-edit--cancel:hover {
  color: #0921db;
  cursor: pointer;
}

.po-send-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.po-send-form > div {
  display: flex;
  flex-direction: row;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
  min-width: 200px;
}

.form_content--container,
.po-entries-list--container {
  background-color: #f9faf8;
  padding: 20px;
}

.po-entries-list--container {
  color: #1f2937;
}

.form-content {
  padding: 10px 60px 10px 60px;
  background-color: #1f2937;
  border-radius: 10px;
  border: 5px solid black;
}

/* Order Lines List */

.order_lines-content {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.order_lines-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.po-send-form--order-lines {
  display: flex;
  flex-direction: column;
  max-width: 99%;
}

.order_lines > li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.order_lines > li > input {
  min-width: 20px;
}

/* PO Entries List */

.po-entries-list--header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 5px solid black;
}

.po-entries-list {
  padding-left: 0;
}

.po-entries-list > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 5px solid black;
  min-height: 50px;
  height: auto;
  padding: 5px;
}

.po-entries-list > li > div {
  text-align: center;
}

.po-entries-list > li:hover {
  cursor: pointer;
}

.po-entries-list--number {
  width: 20%;
}

.po-entries-list--date {
  width: 20%;
}

.po-entries-list--user {
  width: 20%;
}

.po-entries-list--company {
  width: 20%;
}

.po-entries-list--supplier {
  width: 20%;
}

#otherRemarks {
  min-width: 680px;
}
